.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  width: 900px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 16px;

  svg {
    color: #fff;
    width: 32px;
    height: 32px;
  }

  .copy {
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    color: #fff;

    .title {
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;
      // color: #c1d2db;
    }

    .subtext {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
