.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(60, 60, 60, 0.45);

  svg {
    width: 56px;
    height: 56px;
    color: #c3b600;
  }
}

.title {
  font-family: "PT Sans";
  font-size: 56px;
  font-weight: 600;
  color: #fff;
  text-align: center;

  span {
    vertical-align: super;
    font-size: 0.3em;
    line-height: 0;
  }
}

.copy {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 2s ease;
}

.directions {
  font-family: "PT Sans";
  font-size: 24px;
  color: #fff;
  text-align: center;
}
