.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #222222;
}

.help {
  position: absolute;
  top: 50px;
  right: 50px;
}

.directions,
.completion {
  max-width: 600px;
  font-family: "PT Sans";
  font-size: 32px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.4s ease;

  span {
    font-weight: 600;
  }
}

.completion {
  top: 50%;
  max-width: 650px;

  span {
    font-size: 48px;
  }
}

.hidden {
  opacity: 0;
}
.dot {
  position: absolute;
  border-radius: 50%;
  transition: transform 1.3s ease;
}
