.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #222222;
}

.help {
  position: absolute;
  top: 50px;
  right: 50px;
}

.copy {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.4s ease;
}

.directions {
  font-family: "PT Sans";
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.trigger {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.4s ease;
}

.countdown {
  font-family: "PT Sans";
  font-size: 80px;
  color: #fff;
  border: 2px dashed #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.hidden {
  opacity: 0;
}
