.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  min-height: 500px;
  outline: 2px solid rgba(60, 60, 60, 0.45);
  outline-offset: 5px;
  background: rgba(60, 60, 60, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);

  &.center {
    justify-content: center;
  }

  &.bottom {
    justify-content: flex-end;
  }

  &.bottomSpacing {
    padding-bottom: 64px;
  }

  &.topSpacing {
    padding-top: 64px;
  }
}

.help {
  position: absolute;
  top: 16px;
  right: 19px;
}

.navigation {
  position: absolute;
  bottom: 16px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .dots {
    display: flex;
    gap: 16px;
    align-items: center;

    .dot {
      width: 8px;
      height: 8px;
      background-color: #eaeaea;
      border-radius: 50%;

      &:nth-child(2) {
        background-color: #282828;
      }
    }
  }
}
