.container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 24px;
  min-height: 400px;
}

.grid {
  display: grid;
  gap: 16px;

  &.two {
    grid-template-columns: repeat(2, 1fr);
  }
}

.selection {
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 16px;
  color: #fff;
  border-radius: 8px;

  svg {
    width: 40px;
    height: 40px;
  }

  .copy {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";

    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .subtext {
      font-size: 14px;
      font-weight: 400;
    }
  }

  box-shadow: 0 0 0 0px #fff;
  transition: box-shadow 200ms ease;

  &:hover {
    box-shadow: 0 0 0 5px #fff;
    cursor: pointer;
  }

  &.card {
    padding: 24px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}
