.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fff;

  &.center {
    text-align: center;
    align-items: center;
  }

  &.separator {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 24px;
  }
}

h1,
h2 {
  margin: 0;
}

.title {
  font-family: "PT Sans";
  font-size: 56px;
  text-transform: capitalize;
  font-weight: 600;

  &.medium {
    font-size: 32px;
  }
}

.subtext {
  font-family: "Open Sans";
  font-size: 16px;
  color: #e1e1e1;
  font-weight: 500;
}
