.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 60px;

  button:first-child {
    position: absolute;
    left: 25px;
  }

  button:nth-child(2) {
    position: absolute;
    right: 25px;
  }

  &.outer {
    top: 0;
    bottom: 0;

    button:first-child {
      left: -100px;
    }

    button:nth-child(2) {
      right: -100px;
    }
  }
}

.dots {
  display: flex;
  gap: 16px;
  align-items: center;
  position: absolute;
  bottom: 56px;
  left: 50%;
  transform: translateX(-50%);

  .dot {
    width: 8px;
    height: 8px;
    background-color: #eaeaea;
    border-radius: 50%;

    &:first-child {
      background-color: #282828;
    }
  }
}
